.col{
    width:30%;
    float:left;
}
#cart{
    width:100%;
    text-align:right;
    border-bottom:solid 1px grey;
    padding-top:2%;
    padding-bottom:2%;
    cursor:pointer;
    display:block;
}
#cartInner {
    position: absolute;
    background-color: #FFFFFFFF;
    padding: 2%;
    right: 0;
    text-align: center;
    box-shadow: 3px 4px 11px #000;
}
#cartInner{
    position:absolute;
}
#catalog{
    width:100%;
}
.productRow{
    width:100%;
    clear:both;
    padding:5%;
    border-top:solid 1px grey;
}
.addToCartButton{
    text-align:center;
    border-radius:5%;
    background-color:red;
    color:#FFFFFF;
    width:80%;
    margin-left:5%;
    cursor:pointer;
}